@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Titan+One&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
    
body {
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

.navbar-brand {
    font-family: 'Sacramento', cursive;
    font-weight: 1000;
    font-size: 50px;
    background: -webkit-linear-gradient(150deg, #fe8dc6, #fbb040);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.nav-link {
    color: black;
}

.navbar-toggler-icon {
    color: white;
}

section {
    width: 100%;
    height: 75vh;
    display: flex;
    flex-direction: column;
}

.wrapper {
    margin-top: 140px;
}

img {
    border: 5px solid #9900ff;
    border-radius: 200px;
    width: 300px;
    box-shadow: 5px 5px #888888;
}

.home-details {
    margin-top: 50px;
}

h1 {
    font-size: 80px;
}

h1 .name-1 {
    color: #33ccff;
    text-shadow: 5px 5px #ff99cc;
    font-family: 'Pacifico', cursive;
}

h1 .name-2 {
    color: #ff99cc;
    text-shadow: 5px 5px #33ccff;
    font-family: 'Pacifico', cursive;
}

h2 {
    font-size: 40px;
    background: #33ccff;
    font-family: 'Titan One', cursive;
}

h4 {
    font-size: 20px;
}

.icon a{
    text-decoration: none;
    font-size: 30px;
}

.row-work {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    flex-wrap: wrap;
    z-index: 1;
}

.row-work .card {
    position: relative;
    width: 300px;
    height: 380px;
    margin: 30px;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    background: rgba(223, 15, 15, 0.1);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);
}

.row-work .card .card-content {
    padding: 20px;
    text-align: center;
    transform: translateY(100px);
    opacity: 0;
    transition: 0.5s;
}

.row-work .card:hover .card-content {
    transform: translateY(0px);
    opacity: 1;
}

.row-work .card .card-content h4 {
    z-index: 1;
}

/* MEDIA QUERIES */
/* for phones */
@media only screen and (min-width: 375px) and (max-width:600px){

    img {
        width: 50%;
    }

    h1 {
        font-size: 50px;
    }

    h2 {
        font-size: 20px;
    }

    h3 {
        font-size: 15px;
    }

    p {
        font-size: 10px;
    }

    section {
        height: 60vh;
    }

    h4 {
        margin-top: 5px;
        font-size: 13px;
    }

    h5 {
        font-size: 10px;
    }

    .home-details {
        margin-top: 30px;
    }

    .row-about {
        margin-top: 200px;
    }

    .icon a{
        font-size: 20px;
    }

    .row-skills {
        margin-top: 200px;
    }

    .container-work {
        margin-top: 200px;
    }

    .row-work .card {
        height: 200px;
    }
    
    .fa-solid {
        font-size: 10px;
    }

    .email {
        font-size: 10px;
    }

    .number {
        font-size: 10px;
    }
}

/* for tablets */
@media only screen and (min-width: 601px) and (max-width:768px){

    img {
        width: 70%;
    }
    h1 {
        font-size: 60px;
    }

    h2 {
        font-size: 30px;
    }

    h3 {
        font-size: 20px;
    }

    p {
        font-size: 15px;
    }

    section {
        height: 70vh;
    }

    h4 {
        margin-top: 5px;
        font-size: 16px;
    }

    h5 {
        font-size: 15px;
    }

    .home-details {
        margin-top: 40px;
    }

    .row-about {
        margin-top: 300px;
    }

    .icon a{
        font-size: 25px;
    }

    .row-skills {
        margin-top: 300px;
    }

    .container-work {
        margin-top: 300px;
    }

    .row-work .card {
        width: 500px;
        height: 200px;
    }
    
    .fa-solid {
        font-size: 15px;
    }

    .email {
        font-size: 15px;
    }

    .number {
        font-size: 15px;
    }
}

